version: "3"
services:
    app:
        container_name: app
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - ./app:/var/www/html:cached
        ports:
            - "80:80"
        depends_on:
            - db
    db:
        container_name: db
        image: mysql:8.0
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: project_db
            MYSQL_USER: project_db
            MYSQL_PASSWORD: project_db
        volumes:
            - ./data/:/var/lib/mysql
